* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.Cheque {
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  background-color: #fff;
  display: flex;
  padding: 40px 50px;
  box-shadow: 1px 1px 3px #ddd;
}
@media screen and (max-width: 1035px) {
  .Cheque {
    flex-direction: column;
    align-items: center;
  }
}
.Cheque-Cuentas {
  width: 60%;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}
@media screen and (max-width: 1035px) {
  .Cheque-Cuentas {
    width: 100%;
    align-items: center;
    margin-bottom: 30px;
  }
}
.Cheque-Cuentas-Controlador {
  font-size: 30px;
  padding-left: 25px;
  margin-top: 15px;
  display: flex;
  width: 100%;
}
@media screen and (max-width: 1035px) {
  .Cheque-Cuentas-Controlador {
    margin-top: 20px;
    justify-content: center;
  }
}
.Cheque-Cuentas-Controlador span {
  height: 10px;
  width: 10px;
  margin-left: 30px;
  margin-top: 10px;
  border-bottom: solid 2px #3e75c6;
  border-right: solid 2px #3e75c6;
  border-bottom-right-radius: 3px;
  transform: rotate(45deg);
}
.Cheque-Tarjetas {
  padding-top: 10px;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 640px) {
  .Cheque-Tarjetas {
    display: flex;
    justify-content: center;
  }
}
.Cheque-Tarjeta {
  background-color: #fff;
  position: absolute;
  width: 95%;
  height: 100%;
  box-shadow: 1px 3px 3px #ddd;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 5px;
}
.Cheque-Tarjeta:nth-of-type(1) {
  z-index: 3;
}
.Cheque-Tarjeta:nth-of-type(2) {
  left: 3%;
  height: 90%;
  z-index: 2;
}
.Cheque-Tarjeta:nth-of-type(3) {
  left: 6%;
  height: 80%;
  z-index: 1;
}
.Cheque-ContTarjeta {
  width: 220px;
  height: 100px;
  position: absolute;
  bottom: 0;
  display: flex;
}
.Cheque-ContTarjeta ul {
  display: flex;
  width: 100%;
}
.Cheque-ContTarjeta ul li {
  list-style: none;
  text-align: center;
  position: relative;
}
.Cheque-ContTarjeta ul li span {
  height: 10px;
  width: 10px;
  border-bottom-right-radius: 3px;
}
.Cheque-ContTarjeta ul li:nth-child(3) span {
  border-top: solid 2px #3e75c6;
  border-right: solid 2px #3e75c6;
  transform: rotate(45deg);
}
.Cheque-ContTarjeta ul li:nth-child(1) span {
  border-bottom: solid 2px #3e75c6;
  border-left: solid 2px #3e75c6;
  transform: rotate(45deg);
}
.Cheque-ContTarjeta ul li:nth-child(odd) {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Cheque-ContTarjeta ul li:nth-child(even) {
  width: 80%;
}
.Cheque-Saldos {
  width: 30%;
  align-items: center;
  flex-direction: column;
  display: flex;
}
@media screen and (max-width: 1035px) {
  .Cheque-Saldos {
    width: 100%;
  }
}
.Cheque-Saldos-Titulo {
  font-size: 20px;
}
.Cheque-Saldos-Cantidad {
  font-size: 25px;
  margin: 10px 0;
}
.Cheque-Saldos-Prom {
  font-size: 15px;
  color: #636363;
  display: flex;
}
.Cheque-Saldos-Prom span {
  color: #fff;
  background-color: #636363;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  margin-left: 10px;
  border-radius: 50%;
}
