gris = #F4F4F4
grisTitulo = #636363
azul = #3E75C6
azulc = #97BADE
borde = #D9D9D9
texto = #5B5B5B

*
    margin  0
    padding 0
    box-sizing border-box

body
    background-color gris
    display: flex
    justify-content: center
    align-items: center
    min-height: 100vh

.Cheque
    font-family: Arial, Helvetica, sans-serif
    width 80%
    background-color #fff
    display flex
    padding 40px 50px
    box-shadow: 1px 1px 3px #ddd;
    @media screen and (max-width:1035px)
        flex-direction: column
        align-items: center
    &-Cuentas
        width 60%
        display flex
        flex-direction column
        transition 0.5s
        @media screen and (max-width:1035px)
            width: 100%
            align-items: center
            margin-bottom: 30px
        &-Controlador
            font-size 30px
            padding-left: 25px
            margin-top: 15px
            display: flex
            width: 100%
            @media screen and (max-width:1035px)
                margin-top: 20px
                justify-content center
            span 
                height: 10px
                width: 10px
                margin-left: 30px
                margin-top: 10px
                border-bottom: solid 2px azul
                border-right: solid 2px azul
                border-bottom-right-radius: 3px;
                transform: rotate(45deg);
    &-Tarjetas
        padding-top 10px
        position relative
        width: 100%
        @media screen and (max-width:640px)
            display: flex
            justify-content: center
    &-Tarjeta
        background-color white
        position: absolute
        width: 95%
        height: 100%
        box-shadow: 1px 3px 3px #ddd
        top 0
        bottom 0
        margin auto
        border-radius: 5px
        &:nth-of-type(1)
            z-index: 3
        &:nth-of-type(2)
            left 3%
            height: 90%
            z-index: 2
        &:nth-of-type(3)
            left 6%
            height: 80%
            z-index: 1
    &-ContTarjeta
        width 220px
        height: 100px
        position absolute
        bottom 0
        display: flex
        ul
            display: flex
            width: 100%
            li
                list-style none
                text-align center
                position relative
                span 
                    height: 10px
                    width: 10px
                    border-bottom-right-radius: 3px;
                &:nth-child(3)
                    span
                        border-top: solid 2px #3e75c6;
                        border-right: solid 2px #3e75c6;
                        transform: rotate(45deg);
                &:nth-child(1)
                    span
                        border-bottom: solid 2px #3e75c6;
                        border-left: solid 2px #3e75c6;
                        transform: rotate(45deg);
                &:nth-child(odd)
                    flex-grow 1
                    display flex
                    justify-content center
                    align-items center
                &:nth-child(even)
                    width: 80%
    &-Saldos
        width 30%
        align-items: center
        flex-direction: column
        display: flex
        @media screen and (max-width:1035px)
            width: 100%
        &-Titulo
            font-size 20px
        &-Cantidad
            font-size 25px
            margin 10px 0
        &-Prom
            font-size 15px
            color grisTitulo
            display flex
            span 
                color white
                background-color grisTitulo
                height 20px
                width 20px
                text-align center
                line-height 20px
                font-size 12px
                margin-left 10px
                border-radius 50%
